{erl_opts, [debug_info]}.
{deps_dir, "deps"}.
{deps, [
%   {fix,  ".*", {git, "git://github.com/spawnproc/fix",    {tag,"master"}}},
    {jsone,  ".*", {git, "git://github.com/sile/jsone",    {tag,"v0.3.3"}}},
    {mad,    ".*", {git, "git://github.com/synrc/mad",     {tag,"1.9"}}},
    {rest, ".*", {git, "git://github.com/spawnproc/rest",      {tag,"3.2"}}},
    {websocket_client, ".*", {git, "git://github.com/jeremyong/websocket_client",  {tag,"v0.7"}}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",     {tag,"3.9"}}}
]}.
