{erl_opts, [debug_info]}.
{deps_dir, "deps"}.
{deps, [
%   {fix,    ".*", {git, "git://github.com/spawnproc/fix",    {tag,"master"}}},
    {jsone,  ".*", {git, "git://github.com/sile/jsone",       {tag,"v0.3.3"}}},
    {active, ".*", {git, "git://github.com/synrc/active",     {tag,"3.3"}}},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",        {tag,"3.4"}}},
    {rest,   ".*", {git, "git://github.com/spawnproc/rest",   {tag,"3.2"}}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",        {tag,"3.9"}}},
    {websocket_client, ".*", {git, "git://github.com/spawnproc/websocket_client",  {tag,"master"}}}
]}.
