{erl_opts, [debug_info]}.
{deps_dir, "deps"}.
{deps, [
    {active, ".*", {git, "git://github.com/synrc/active",  {tag,"1.9"}}},
    {websocket_client, ".*", {git, "git://github.com/jeremyong/websocket_client",  {tag,"v0.7"}}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",     {tag,"3.9"}}}
]}.
